- extends "base.html"

.container-fluid
  .row
    .col-sm-12
      - block body
        %ul
          - for app in apps
            %h3
              %a(href="{% url 'application_details' app.id %}")
                = app.name