- extends "base.html"

.container-fluid
  .row
    .col-sm-12
      - block body
        %ul
          - for app in apps
            %h3
              = app.id
              %a(href="{{app.id}}/upload") Upload files
              or
              %a(href="{{app.id}}/grade") Add grading


