- extends 'base.html'
- load guardian_tags

.container-fluid
  - block body
    - get_obj_perms user for app as "app_perms"
    .card
      .card-content
        .row
          .col-sm-12
            %h4.pull-right
              = app.state
        - include 'thesaurum/application_form_body.haml'
    .card
      .card-header(data-background-color="orange")
        .title
          Uploaded files
      .card-content
        .row
          .col-sm-12
            %h4 Uploaded files:
              - for file in  files
                .row
                  .col-sm-12
                    %a(href="/{{ file.path }}")
                      = file.name
                    %form{:action => "{% url 'delete' app.id %}", :enctype => "multipart/form-data", :method => "post"}
                      {% csrf_token %}
                      %input{:name => "docfile", :type => "hidden", :value => "{{ file.path }}"}/
                      %input{:class => "btn btn-default", :type => "submit", :value => "Delete"}/
    .row
      .col-sm-12
        - if app.state == 'new'
          - if "change_application" in app_perms
            %a(href="{% url 'application_edit' app.id %}" class="btn btn-default") Edit
          - if app.owner == user
            %a(href="{% url 'application_submit' app.id %}" class="btn btn-default") Submit
          - if "change_application" in app_perms
            %a(href="{% url 'upload' app.id %}" class="btn btn-default") Upload
          - if app.state == "accepted" and "grade_application" in app_perms
            %a(href="{% url 'grading_new' app.id %}" class="btn btn-default") Grade
        - if app.state == "submitted" and perms.thesaurum.change_application_state
          %a(href="{% url 'application_accept' app.id %}" class="btn btn-default") Accept
          %a(href="{% url 'application_return_back' app.id %}" class="btn btn-default") Return back
        - if app.state == "accepted" and can_grade
          %a(href="{% url 'application_grade' app.id %}" class="btn btn-default") Grade
