- extends 'base.html'

.container-fluid
  .row
    .col-sm-12
      - block body
        - include 'thesaurum/application_form_body.haml'
        - if state == 'new'
          %a(href="{% url 'application_edit' app_id %}" class="btn btn-default") Edit
          %a(href="{% url 'application_submit' app_id %}" class="btn btn-default") Submit
          %a(href="{% url 'grading_new' app_id %}" class="btn btn-default") Grade
          %a(href="{% url 'upload' app_id %}" class="btn btn-default") Upload
        %p Uploaded files:
        {% for file in  files %}
        %p
        %a{:href => "/{{ file.path }}"} {{ file.name }}
        {% endfor %}
