- extends 'base.html'
- load widget_tweaks

- block body
  .container-fluid
    .row
      %form(method="post")
        - csrf_token
        .row
          .col-sm-12
            .form-group.label-floating
            = form.cooperating_organizations.errors
            %label(class="control-label") Masz pozyczyc 100 do jutra?
            - render_field form.first_question class+="form-control"
        .row
          .col-sm-12
            .form-group.label-floating
            = form.cooperating_organizations.errors
            %label(class="control-label") A ma Pani dowód?
            - render_field form.second_question class+="form-control"
        .row
          .col-sm-12
            .form-group.label-floating
            = form.cooperating_organizations.errors
            %label(class="control-label") Nie było tam Islandi przypadkiem?
            - render_field form.third_question class+="form-control"
        .row
          .col-sm-12
            .form-group.label-floating
            = form.cooperating_organizations.errors
            %label(class="control-label") Dokąd zmierza ten projekt?
            - render_field form.fourth_question class+="form-control"
        .row
          .col-sm-12.pull-right
            %input(type="submit" class="btn btn-default" value="Submit")
