input {
  width: 100%;
  font-size: 25px;
  height: auto;
}

input[type=submit].btn-block {
    width: 100%;
}

label.control-label {
    font-size: 20px;
}

#baseSidebar {
    background-image: url("../img/sidebar.jpg");
}

#error_1_id_username {
    font-size: 12px;
}

#file-7 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#jebutneH1{
    font-size: 20px;
}